<button id="addConsumerButton" class="btn btn-success glyphicon glyphicon-plus"
        onclick="toggleAddConsumer()">
</button><br>
<form id="addConsumer" class="add" style="display: none">
    <input id="consumerName" type="text" placeholder="Person name"/><br><br>
    <input id="consumerEmail" type="email" placeholder="Person email"/><br><br>
    <input id="consumerPassword" type="password" placeholder="Person password"/><br><br><br>
    <button title="Add consumer" onclick="createConsumer(event)" class="btn btn-success">Create</button>
</form>