<button id="addGroupButton" class="btn btn-success glyphicon glyphicon-plus"
        onclick="toggleAddGroup()">
</button><br>
<form id="addGroup" class="add" style="display: none">
    <input id="groupName" type="text" placeholder="Group name"/><br><br><br>
    <button title="Add group" onclick="createGroup(event)" class="btn btn-success">Create</button>
</form>