<button id="addPolicyButton" class="btn btn-success glyphicon glyphicon-plus"
        onclick="toggleAddPolicy()">
</button><br>
<form id="addPolicy" style="display: none">
    <input id="policyName" placeholder="Policy name"><br><br>
    <textarea id="policyDescription" placeholder="Policy description"></textarea><br><br><br>
    <button type="button" class="btn btn-success" onclick="createPolicy(event)">Create</button>
</form>