<div class="modal fade" id="addPolicyToGroupsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="addPGTitle" class="modal-title"></h4>
                <p>1st row out. 2nd row in</p>
            </div>
            <div id="addPGBody" class="modal-body">
                <p>Click to add</p>
            </div>
            <div id="removePGBody" class="modal-body">
                <p>Click to remove</p>
            </div>
            <div id="addPGFooter" class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>