<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Access Control Policy</a>
        </div>
        {{#if isAuthenticated}}
            {{>signedInControls}}
        {{else}}
            {{>notSignedInControls}}
        {{/if}}
    </div>
</nav>