<div id="action" style="display:none" class="alert alert-success fade in">
    <a href="#" class="close" onclick="closeNotification()" aria-label="close">&times;</a>
    <strong>Success!</strong><p id="actionMessage"></p>
    <button id="undo" class="btn btn-info" type="button">Undo</button>
</div>