<!DOCTYPE html>
<html>
    <head>
        {{>bootstrap}}
        <title>Check page</title>
    </head>
    <body>
        {{> navbar}}
        <div class="container text-center">
            <form id="signin" name="signin" method="post">
                <label for="email">Email Address</label><br>
                <input class="text" name="email" type="text" /><br>
                <label for="password">Password</label><br>
                <input name="password" type="password" /><br>
                <input class="btn" type="submit" value="Sign In" />
            </form>
        </div>
    </body>
</html>