<!DOCTYPE html>
<html>
    <head>
        {{>bootstrap}}
        <title>Dashboard</title>
    </head>
    <body>
        {{> navbar}}
        <div class="container text-center">
            <h2>Personal information</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>First name</th>
                        <th>{{firstname}}</th>
                    </tr>
                    <tr>
                        <th>Last name</th>
                        <th>{{lastname}}</th>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <th>{{username}}</th>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <th>{{email}}</th>
                    </tr>
                    <tr>
                        <th>Last login</th>
                        <th>{{lastlogin}}</th>
                    </tr>
                    <tr>
                        <th>Account created</th>
                        <th>{{createdat}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>