<!DOCTYPE html>
<html>
    <head>
        {{>bootstrap}}
        <title>Access Control Provider</title>
    </head>
    <body onload="getInfo()">
        {{>navbar}}
        {{>notificationBar}}
        <div class="container text-center">
            {{#if isAuthenticated}}
                {{>addPolicyToGroupsModal}}
                {{>addGroupToPoliciesModal}}
                {{>addGroupToConsumersModal}}
                {{>addConsumerToGroupsModal}}
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="header">policies</h4>
                        {{>addPolicy}}
                        <div id="policies"></div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="header">groups</h4>
                        {{>addGroup}}
                        <div id="groups"></div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="header">consumers</h4>
                        {{>addConsumers}}
                        <div id="consumers"></div>
                    </div>
                </div>
                <script src='/javascripts/mainPage.js'></script>
            {{else}}
                <p><a href='/signin'>Sign in</a> and start making your policies!</p>
                <p>Not a member yet? <a href='/signup'>Sign up!</a></p>
            {{/if}}
        </div>
    </body>
</html>