<!DOCTYPE html>
<html>
    <head>
        {{>bootstrap}}
        <title>SignUp</title>
    </head>
    <body>
        {{> navbar}}
        <div class="text-center container">
            <form id="signup" name="signup" method="post" action="/signup">
                <label for="firstname">First name</label><br/>
                <input name="firstname" id="firstname" type="text" /><br/><br/>
                <label for="lastname">Last name</label><br/>
                <input name="lastname" id="lastname" type="text" /><br/><br/>
                <label for="email">Email Address</label><br/>
                <input class="text" name="email" id="email" type="email" /><br/><br/>
                <label for="password">Password</label><br/>
                <input name="password" id="password" type="password" /><br/><br/>
                <input class="btn" type="submit" value="Sign Up" />
            </form>
        </div>
    </body>
</html>