.policies, .groups, .consumers{
  display:block;
  overflow:auto;
  background-color: lightgray;
  margin:3px;
  padding: 1px 5px 5px 5px;
  border-radius: 15px;
}
.btn{
  margin: 2px;
}
.policyColumns{
  border: 1px solid white;
  background-color: lightgray;
}
.header{
  text-decoration: underline;
}
.itemRow{
  border-top: 1px solid white;
}
.itemRow:hover{
  background-color: rgba(46, 81, 127, 0.59);
}
.add{
  border-top: 1px solid white;
}
.peopleTitle{
  text-decoration: underline;
}
.modal-body{
  border:1px solid black;
}
#policyDescription{
    resize: none;
}